extends ../layout

block content
    h3 Delete User

    form(method="post")
        h4 Delete #{data.first_name + " " + data.last_name} ?
        input(type="submit", class="btn btn-sm btn-primary", name="submit" value="Submit")