extends ../layout

block content
    h3 Create User
    form(method="post")
        div.col-sm-10
            div.form-group
                label First Name
                input(type="text", class="form-control", placeholder="Name", autocomplete="off", name="first_name", value=data.first_name) 

            div.form-group
                label Last Name
                input(type="text", class="form-control", placeholder="Name", autocomplete="off", name="last_name", value=data.last_name) 

            div.form-group
                label Status
                div
                    - var status = data.status
                    select(name="status", class="form-control input-sm")
                        option(value="") - Status -
                            - for (var key in status_opts)
                                - var isSelected = (status_opts[key] == status) ? 'selected' : null;
                                option(value=status_opts[key], selected=isSelected) #{ status_opts[key] }

            input(type="submit", class="btn btn-sm btn-primary", name="submit" value="Submit")