extends ../layout

block content
    div.container
        div.col-sm-12
            h3
                span Users
            h4: a(class="add_record", href= '/users/create') Add New User

            table.table.table-striped
                thead
                    th First Name
                    th Last Name
                    th Status
                    th
                    th
                for user in data
                    tr
                        td #{user.first_name}
                        td #{user.last_name}
                        td #{user.status} 
                        td
                            a(href='/users/edit/' + user._id, class="btn btn-default btn-sm", style="margin-right:5px") Edit
                        td
                            a(href='/users/delete/' + user._id, class="btn btn-danger btn-sm", style="margin-right:5px" ) Delete